@model Canopy.Data.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete This Transaction</h2>

<h3></h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.When)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.When)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWithdraw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWithdraw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

<div style="padding-top: 5px">


    @Html.ActionLink("Back", "Details", "BankAccounts", new { id = Model.AccountId }, null)

</div>